body {
  // background: hsl(256, 26%, 20%);
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 1em;
  margin: 0;
}

//   // nav {
//   //   display: none;

.right-side {
  background-image: url("../images/image-intro-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: auto;
}

.right {
  display: none;
}

.hero {
  background-color: hsl(256, 26%, 20%);
  padding: 5em 0.5em;
  margin-top: 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 10em;
    width: 10em;
    background-image: url("../images/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: cover;
  }

  &::before {
    content: "";
    position: absolute;
    height: 20em;
    width: 7em;
    background-image: url("../images/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    bottom: -11em;
    right: 0;

    background-size: cover;
    z-index: 1;
  }

  h1 {
    color: white;
    font-family: "DM Serif Display", serif;
    font-size: 40px;
    text-align: center;
    line-height: 1em;
    // letter-spacing: -0.03em;
    font-weight: 300;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  p {
    color: white;
    text-align: center;
    font-family: "Karla", sans-serif;
    padding: 0 0.5em;
    line-height: 1.5em;
    font-size: 15px;
    font-weight: 30;
  }

  a {
    text-decoration: none;
    font-family: "Karla", sans-serif;
    color: white;
    font-weight: 400;
    letter-spacing: 0.09em;
    font-size: 12px;
    border: white solid 0.1em;
    padding: 0.25em 1.5em;
    display: inline-block;
    margin-top: 0.75em;

    &:hover {
      background-color: white;
      color: hsl(256, 26%, 20%);
      font-weight: 400;
    }
  }
}

.process-section {
  background-color: white;
  position: relative;
  margin-top: 10em;

  .container {
    .line {
      background-color: hsl(0, 3%, 85%);
      height: 1px;
      width: 120px;
      margin: auto;
      margin-top: 7em;
    }

    h1 {
      text-align: center;
      font-family: "DM Serif Display", serif;
      font-size: 40px;
      font-weight: 300;
      color: hsl(300, 1%, 20%);
    }

    ul {
      align-content: center;
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 1em;

      li {
        margin-bottom: 5em;

        h3 {
          font-family: "DM Serif Display", serif;
          color: hsl(300, 1%, 20%);
        }

        p {
          line-height: 1.5em;
          font-family: "Karla", sans-serif;
          color: hsl(273, 4%, 51%);
        }
      }
    }
  }
}

.work-section {
  background-color: hsl(256, 26%, 20%);
  margin: 5em 2em;
  padding: 3em 1.5em;
  position: relative;

  h1 {
    color: white;
    font-family: "DM Serif Display", serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    line-height: 1em;
  }

  a {
    text-decoration: none;
    font-family: "Karla", sans-serif;
    color: white;
    font-weight: 400;
    letter-spacing: 0.09em;
    font-size: 12px;
    border: white solid 0.1em;
    padding: 0.6em 1.2em;
    display: inline-block;
    margin-top: 0.75em;
    margin-left: 3.25em;

    &:hover {
      background-color: white;
      color: hsl(256, 26%, 20%);
      font-weight: 400;
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 16em;
    width: 9em;
    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    top: 0;
    right: 0;

    background-size: cover;
    z-index: 1;
  }
}

.contact {
  // margin: 5em auto;
  background-color: rgb(248, 248, 248);
  padding: 5em 2em;
  position: relative;

  .contact-section {
    text-align: center;
    // position: fixed;
    z-index: -1;

    .logo {
      width: 6em;
      margin-bottom: 1em;
    }

    .social {
      letter-spacing: 0.5em;
      margin-bottom: 3em;
    }
  }

  .line-2 {
    background-color: hsl(0, 3%, 85%);
    height: 1px;
    width: 500px;
    margin: auto;
    margin-bottom: 3em;
  }

  ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 3em;
    line-height: 2em;
  }

  .company {
    p {
      font-family: "Karla", sans-serif;
      color: hsl(273, 4%, 51%);
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.09em;
    }

    li {
      font-family: "Karla", sans-serif;
      color: hsl(0, 0%, 3%);
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.09em;
    }
  }

  .help {
    p {
      font-family: "Karla", sans-serif;
      color: hsl(273, 4%, 51%);
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.09em;
    }

    li {
      font-family: "Karla", sans-serif;
      color: hsl(0, 0%, 3%);
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.09em;
    }
  }

  .contact {
    p {
      font-family: "Karla", sans-serif;
      color: hsl(273, 4%, 51%);
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.09em;
    }

    li {
      font-family: "Karla", sans-serif;
      color: hsl(0, 0%, 3%);
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.09em;
    }
  }

  .others {
    p {
      font-family: "Karla", sans-serif;
      color: hsl(273, 4%, 51%);
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.09em;
    }

    li {
      font-family: "Karla", sans-serif;
      color: hsl(0, 0%, 3%);
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.09em;
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 10em;
    width: 20em;
    background-image: url("../images/bg-pattern-footer-mobile.svg");
    background-repeat: no-repeat;
    top: 0;
    left: 0;

    background-size: cover;
    z-index: 0;
  }
}

nav.mobile-nav {
  display: block;
}

nav {
  text-align: center;
  background: hsl(257, 24%, 11%);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: none;

  ul {
    margin: 0;
    padding: 0;
    margin-top: 1.5em;

    li {
      list-style: none;
      padding: 0 2em;

      a {
        text-decoration: none;
        font-family: "Karla", sans-serif;
        color: white;

        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.09em;
        line-height: 3em;
      }

      &:hover {
        border: white solid;
        padding: 0.05em 0.5em;
        cursor: pointer;
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    height: 10em;
    width: 20em;
    background-image: url("../images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
    background-size: cover;
    z-index: 0;
  }
}

// @media only screen and (min-width: )
